#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid beige;
    padding: 8px;

}

#customers tr:nth-child(even) {
    background-color: rgb(239, 239, 227);
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #54cef0;
    color: white;
}

.btn-edit {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(15, 217, 231);

    &:hover {
        background-color: transparent !important;
        color: rgb(15, 217, 231) !important;
    }
}

.btn-delete {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(237, 48, 34);

    &:hover {
        background-color: transparent !important;
        color: rgb(237, 48, 34) !important;
    }
}

.modal-container {
    .modal-header {
        button {
            background-color: transparent;
            border: none;
            font-size: 30px;
            color: white;
        }

    }

    .modal-user-body {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .input-container {
            display: flex;
            flex-direction: column;
            width: 48%;

            &.max-width-input {
                width: 99%;
            }

            input {
                border-radius: 8px solid grey;
                height: 30px;
                outline: none;
                padding: 0 10px;
            }
        }
    }

}